.about {
  letter-spacing: 0.055em;
  background-color: $color-gray-light;

  @include lg-min {
    padding-top: 100px;
    padding-bottom: 82px;
  }
  @include lg-md {
    padding-top: 80px;
    padding-bottom: 62px;
  }

  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    display: grid;
    max-width: 1340px;
    margin: auto;
    padding-right: $gap;
    padding-left: $gap;

    @include md-min {
      grid-template-columns: 1fr 271px;
      gap: 100px;
    }
    @include lg-md {
      grid-template-columns: 1fr 271px;
      gap: 40px;
    }
    @include md-sm {
      gap: $gap;
      grid-template-columns: 1fr 236px;
    }
    @include sm {
      gap: $gap;
      grid-template-columns: 1fr;
    }
  }

  &__content p:first-of-type {
    position: relative;
    margin-top: -5px;
  }

  &__content p:first-of-type::after {
    content: "";
    position: absolute;
    right: -50px;
    background-color: rgba(99, 117, 136, 0.1);
    top: 0;
    width: 2px;
    height: 200px;

    @include lg-md {
      right: (-$gap);
    }

    @include md-sm {
      right: -10px;
    }

    @include sm {
      display: none;
    }
  }

  &__content p {
    @include lg-min {
      font-size: 1.125rem;
    }
  }

  &__image {
    display: grid;
    align-content: center;
    justify-items: center;

    img {
      max-width: 100%;
      max-height: 480px;
    }
  }

  h2 {
    margin-top: 0;
  }
}
