.posts {
  @include lg-min {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include lg-md {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  @include md {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__container {
    @extend %conteiner;
  }

  h2 {
    margin-top: 0;
  }

  &__grid {
    display: grid;
    padding-bottom: $gap;
    gap: $gap;

    @include lg-min {
      grid-template-areas:
        "p1 p1 p2 p3"
        "p4 p5 p6 p6";
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-template-areas:
        "p1 p1 p2"
        "p3 p4 p4"
        "p5 p5 p6";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-areas:
        "p1 p2"
        "p3 p4"
        "p5 p6";
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-areas: "p1" "p2" "p3" "p4" "p5" "p6";
      grid-template-columns: 1fr;
    }
  }

  &__actions {
    @include sm-min {
      display: flex;
      justify-content: center;
    }
  }
}

.post {
  &-item {
    transition: background-color 0.5s;
    background-color: #f2f2f2;

    &:hover {
      background-color: #d8d8d8;
      .post-item__image img {
        transform: scale(1.1);
      }
    }

    &__link {
      display: grid;
      overflow: hidden;
      height: 100%;
      grid-template-rows: 300px 1fr;
    }

    &__image {
      display: flex;
      overflow: hidden;
      align-content: center;
      justify-content: center;
      background-color: #2d3651;

      img {
        width: 100%;
        transition: transform 0.5s;
        object-fit: cover;
      }
    }

    &__caption {
      display: grid;
      align-content: center;
      padding: 20px;

      h3 {
        transition: color 0.5s;
        text-align: center;
        font-family: "Roboto Slab", serif;
      }

      p {
        transition: color 0.5s;
        text-align: center;
      }
    }
  }
}

@for $i from 1 through 6 {
  .post-item:nth-of-type(#{$i}) {
    grid-area: p#{$i};
  }
}
