.skill {
  @include sm-min {
    padding: $gap / 2;
    margin-bottom: 30px;
  }
  @include sm {
    padding: $gap;
  }

  &__conteiner {
    display: grid;
    grid-auto-rows: calc(33.33vh - 13.333333px);
    margin-bottom: $gap;

    @include lg-min {
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
      gap: ($gap / 2);
    }

    @include lg-md {
      grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
      gap: ($gap / 2);
    }

    @include md-sm {
      grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
      gap: ($gap / 2);
    }

    @include sm {
      grid-template-areas: "a1 a1" "a2 a2" "a3 a3" "a4 a4" "a5 a5" "a6 a6" "a7 a7" "a8 a8" "a9 a9";
      gap: $gap;
    }

    @media (min-height: 691px) {
      grid-auto-rows: calc(33.33vh - 13.333333px);
    }

    @media (max-height: 690px) {
      grid-auto-rows: calc(230px - 13.333333px);
    }
  }

  &__action {
    display: flex;
    justify-content: center;
  }
}
